<!doctype html>
<html style="font-size: 32px;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="referrer" content="no-referrer">
    <title>圈子</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script th:inline="javascript">
        function goToNext() {
            var currentUrl = window.location.href;
            var cleanUrl = currentUrl.split("?")[0];
            window.location.href = cleanUrl + "?end_time=" + [[${pageData.endTime}]]
        }
    </script>
</head>
<body>


<div id="appContainer">
    <div class="pk-bg-white content-info">
        <div>
            <div th:each="content:${pageData.data}">
                <div class="pk-mg-lr16 pk-bd-b">
                    <!--id时间-->
                    <div class="user-column pk-flex-box algin-center pk-pd-tb20">
                        <div class="user-column-left pk-text-ellipsis1 pk-flex-box algin-center">
                            <div>
                                <p class="user-column-middle-name pk-text-ellipsis1 pk-flex-box">
                                    <span th:text="${content.id}" style="color: red"></span>
                                </p>
                                <p class="user-column-middle-desciption pk-text-ellipsis1">
                                    <span th:text="${content.time}"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--内容图片-->
                    <a class="pk-block">
                        <div>
                            <span class="content-text pk-h4-text32" th:utext="${content.content}"></span>
                        </div>

                        <div>
                            <span th:each="image:${content.images}">
                                <span>
                                    <img class="overflow-image" th:src="${image}">
                                </span>
                            </span>
                        </div>

                    </a>

                    <!--音频-->
                    <div class="clear">
                        <div th:each="auurl:${content.audios}">
                            <audio controls="controls" th:src="${auurl}">您的浏览器不支持 audio 标签</audio>
                        </div>
                    </div>

                    <div class="clear">
                        <div th:each="filesU:${content.files}">
                            <a th:href="${filesU}">文件</a>
                        </div>
                    </div>

                    <!--评论-->
                    <div class="list-action-operate pk-pd-b18">
                        <div class="operat-list-box pk-mg-t20">
                            <div class="review-operat-list pk-bd-t" th:each="comment:${content.comments}">
                                <!--遍历-->
                                <div class="review-item">
                                    <span class="review-name">
                                        <a class="text-warning"><em>观星老道</em></a>
                                    </span>
                                    <span> : </span>
                                    <span th:text="${comment}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="pk-pd-lr16"><!----></div>
            </div>
        </div>

    </div>


</div>
<div class="modal-footer no-margin-top">
    <ul class="pagination pull-right no-margin">
        <!-- 下一页 -->
        <button onclick="goToNext()">下一页</button>
    </ul>
</div>


</body>

</html>